{{ define "main" }}

Graffathon is a three-day computer graphics hackathon aimed at novices. Every participant will create a computer program that produces a non-interactive multimedia presentation, also known as a demo. The event is targeted to real beginners who have no previous graphics coding and/or demoscene experience. We also have an advanced competition for those who have previous demoscene programming experience or who feel like they are not beginners. The demos can be made alone or preferably in small groups of two to four people. You can find a group at the event.
{{ end }}
